[submodule "llvm"]
	path = llvm
	url = https://github.com/ssrg-vt/popcorn-llvm.git
	branch = popcorn
[submodule "clang"]
	path = clang
	url = https://github.com/ssrg-vt/popcorn-clang.git
	branch = popcorn
